:root {
    --default-canvas-filter: invert(100%);
}

$high-emph: rgba(white, 0.87);
$med-emph: rgba(white, 0.69); 
$low-emph: rgba(white, 0.38);
$dark-grey : #121212; 
$transparent: rgba(0, 0, 0, 0);
// $dark-grey : #1F1B24;
$overlay: mix($dark-grey, white, 95%);
$overlay-light: mix($dark-grey, white, 86%);

html, body, input, textarea, select, button {   
  color: $high-emph !important;
  background-color: $dark-grey !important;
}

a {
    color: rgb(75, 186, 255) !important;
}

a:hover {
    color:$high-emph !important;
}

.site-title, .site-title:visited, .site-nav, .page-link {
    color: $high-emph !important;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 1000;
    border-color: $transparent !important;
}

.site-nav {
    background-color: $dark-grey;
    border-color: $transparent !important;
}

* {
    scrollbar-color: $dark-grey $overlay-light;
}

pre, code {
    // BVas a lighter colour to better highlight short code words
    border-color: $overlay-light;
}

.page-description {
    color: $med-emph;
}

.post-meta {
    color: $low-emph;
}

.post-content p, .post-content li {
    // color: $med-emph;
}

.btn {
    background-color: $overlay !important;
    color: $high-emph !important;
    border-color: $overlay-light !important;
}

.btn:hover {
    background-color: $dark-grey !important;
}

table th{
    background-color: $overlay;
    border-color: $overlay-light;
    color: $high-emph;
}

table td{
    background-color: $dark-grey;
    border-color: $overlay-light;
    color: $med-emph;
}

.flash {
    color: $dark-grey !important;
    filter: brightness(80%);
}

canvas {
    filter: var(--default-canvas-filter);
}

.post-list > li > div {
    box-shadow: none !important;
    background-color: $overlay;
    border: none !important;
}

li .post-meta-description {
    color: $med-emph !important;
}

.search-result-preview{
    // the text
    
    color: gray !important; 
    list-style-type: none !important;
    list-style: none !important;
    background-color: #1e1e1e !important;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.search-result-highlight {
    color:white !important;
    font-weight:bold !important;
    list-style-type: none !important;
    list-style: none !important;
}

.search-results-list-item .search-result-title {
    // the title
    color: cornflowerblue !important;
    list-style-type: none !important;
    list-style: none !important;
    background-color: #1e1e1e !important;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}


// glow effect
.glow-on-hover-search {
    //this makes it actually glow
    border: none;
    outline: none;
    color: #fff;
    background: #1e1e1e;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

//animation stuff
.glow-on-hover-search:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}


.glow-on-hover-search:hover:before {
    opacity: 1;
}

.glow-on-hover-search:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #1e1e1e;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}


///////////////////////////////////////////////////////////////////////////////////////////////////////////////















// glow effect
.glow-on-hover {
    //this makes it actually glow
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

//animation stuff
.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}







.no-bullet {
    list-style: none;
}